*.pyc
graphs
*.nii
*.nii.gz
doc/html
asl_tests/*.png
biexp_tests/*.png
examples/example_out*
dist/
*.egg-info
_version.py
*logfile*
.vscode 
*.h5
.ipynb_checkpoints/surf_demo-checkpoint.ipynb
build
scratch.py
.DS_Store
example_out*
*out*
*.ipynb
*.nii.gz